@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color:  rgb(251, 251, 252)
}

/************************************Navbar-component.jsx********************************************************************************/

.btn{
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 5rem;
}

.profile {
  width: 3rem; 
  height: 3rem; 
  margin-top: 0.25rem;
  border: none;
  border-radius: 50%;
  background-color: white;
}



.profile1 {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 40%;
}

/**************************************************************home-page.jsx***********************************************************/


.home1{
  padding: 1rem 2rem;
}

.name{
  margin-top: 2rem;
  font-weight: bold;
  float: right;
  color: green;
}

.footer{
  background-color: rgb(31, 30, 30);
  padding: 2rem;
}

.footer h3{
  color: dodgerblue;
  font-family: "Katibeh", serif;
  font-weight: bold;
  padding-top: 1rem;
}

.footer ul li{
  list-style-type: none;
}

.about1 h5{
  text-align: center;
  color: dodgerblue;
  margin-top: 2rem;
}

.input-box1 {
  width: 100%;               
  border-radius: 0.375rem;  
  padding: 0.5rem;            
  background-color: rgb(159, 184, 238);  
  /* padding-left: 3rem;         */
  border: 1px solid rgb(159, 184, 238);    
}

.input-box1:focus {
  background-color: transparent; 
}

.input-box1::placeholder {
  color: black;            
}


/***************************************************Information section****************************************************/
.about h4,
.terms h4,
.how h4
{
  color: green;
  padding: 0rem 2rem;
}

.about p,
.terms p,
.how p{
  padding: 0rem 2rem;
  text-align: start;
}

.about ul,
.how ul{
  padding-left: 4rem;
  padding-right: 4rem;
}

.contact {
  padding: 0rem 2rem;
}

/*******************************************PageNotFound-page.jsx**********************************************************************/
.page404 {
  pointer-events: none;
  border: 2px solid  rgb(234, 231, 231);
  max-width: 25rem;
  max-height: 15rem;
}


.img2 {
  margin-top: 8rem;
  height: 5rem; 
  user-select: none; 
}

/********************************************************UserAuthForm**************************************************************************/
section {
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  padding-left: 5vw;  
  padding-right: 5vw; 
}

.h-cover {
  min-height: calc(100vh - 80px); 
}

.form {
  width: 80%;
  max-width: 400px;
}

/***********************************************************************input-component.jsx**************************/
.input-box {
  width: 100%;               
  border-radius: 0.375rem;  
  padding: 0.5rem;            
  background-color: rgb(159, 184, 238);  
  padding-left: 3rem;        
  border: 1px solid rgb(159, 184, 238);    
}

.input-box:focus {
  background-color: transparent; 
}

.input-box::placeholder {
  color: black;            
}


.input-icon {
  position: absolute;         
  left: 1rem;                  
  top: 50%;                   
  transform: translateY(-50%); 
}

.left-auto {
  left: auto !important; 
  right: 1rem; 
  cursor: pointer;
  color: dodgerblue;
}


/******************************************************userNavigation-component**************************************************************/
.usernav {
  background-color: white; 
  position: absolute; 
  right: 0; 
  border: 1px solid white; 
  width: 15rem; 
  transition-duration: 0.2s; 
}

.usernav1 {
  position: absolute; 
  right: 8%; 
  top: 80%;
  z-index: 150;
}

.signoutbtn {
  margin-top: 0.3rem;
  text-align: left; 
  padding: 1rem; 
  width: 100%;
  padding-left: 2rem; 
  padding-top: 1rem; 
  border: none;
  background-color: white;
}

.signoutbtn:hover {
  background-color: dodgerblue;
  color: white; 
}

/************************************************weatherApp-page**************************************/
.weather{
  background-color: #e2d4ff;
  place-self: center;
  border-radius: 10px;
  padding: 40px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;

}


.search-bar{
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input{
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img{
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon{
  width: 150px;
  margin: 30px 0;

}

.temperature{
  color:#fff;
  font-size: 80px;
  line-height: 1;
}

.location{
  color:#fff;
  font-size: 40px;
}

.weather-data{
  /* width: 100%; */
  margin-top: 40px;
  color: white;
  display: flex;
 justify-content: space-between;
}

.weather-data .col{
  display: flex;
  align-items: flex-start;
  gap: 2px;
  font-size: 15px;
}


.weather-data .col strong{
  display: block;
  font-size: 14px;
}

.weather-data .col img{
  width: 20px;
  margin: 10px;
}

/****************************************************media query*******************************************************************************/


/**************************************smaller screen size**********************************************/
@media(max-width: 768px) {
    .signup{
      display: none;
    }

    section {
      padding-left: 7vw;  
      padding-right: 7vw; 
    } 

    .homewrite{
      top: 25%;   
      left: 17%; 
    }

    .homewrite h3{
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      padding-left: 2rem;
    }

    span{
      color: green;
    }

    .homewrite1 h4{
      margin-top: 2rem;
      margin-bottom: 1rem;
  }

  .test{
    display: grid;
    gap: 10px;
  }

  
  .about,
  .terms,
  .how{
    margin-bottom: 2rem;
}

.about h3,
.terms h3,
.how h3{
  margin-top: 2rem;
}

.contact{
  margin-bottom: 2rem;
}

.weather{
  width: 100%;
  margin: 0 auto;
}
}

/**************************************larger screen size**********************************************/
@media(min-width: 768px) {
  section {
        padding-left: 10vw;
        padding-right: 10vw; 
      }

      .homewrite{
        top: 25%;   
        left: 30%; 
      }
  
      .homewrite h3{
        font-size: 3rem;
        font-weight: bolder;
        color: white;
        padding-left: 2rem;
      }

      span{
        color: green;
      }

      .btn-light{
        font-size: 2rem;
      }

      .homewrite1 h4{
          margin-top: 6rem;
          margin-bottom: 2rem;
      }

      .test{
        display: flex;
        gap: 10px;
      }
.test1{
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.test2{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.test3{
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.test4{
  border-top-right-radius: 2rem;
}

.test5{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.test6{
  border-top-left-radius: 2rem;
}

.about, 
.terms,
.how{
  border: 5px solid white;
  margin: 2rem 5rem;
  padding: 2rem;
  border-top-right-radius: 2rem;
}

.weather{
  width: 80%;
  margin: 0 auto;
}
}